.multiple-image-upload-widget {
    .krajee-default.file-preview-frame {
        .kv-file-content {
            img {
                max-width: 160px;
                max-height: 170px;
            }
        }
    }
}
