.main-header {
  .logo {
    border-bottom: 1px solid #d2d6de !important;

    .logo-lg {
      background-image: url('../images/logo_admin.png');
      margin-top: 4px;
      width: 200px;
      height: 45px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.skin-blue-light .main-header .logo {
  background-color: #f9fafc;
}

.skin-blue-light .main-header .logo:hover {
  background-color: #f9fafc;
}

.main-header .fa-bars {
  color: black;
}

